@import "../../assets/css/variables.scss";

.body {
  display: flex;
  .leftMenu {
    background-color: $color-white;
    flex: 1 1;
    .mapConfig {
      //display: flex;
      //justify-content: space-between;
      margin-bottom: 20px;
      .arrows {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        img {
          max-width: 20px;
          max-height: 20px;
        }
        button {
          background: transparent;
          border: transparent;
          &:focus,
          &:active {
            outline: transparent;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .mapArea {
    flex: 4 4;
  }

  
}
