@import "../../assets/css/variables.scss";

.body {
  display: flex;
  .leftMenu {
    background-color: $color-white;
    flex: 1 1;
    .wrapContent{
      width: 100%;
      padding-left: 30px;
      .description{
        width: 90%;
        height: 150px;
      }
    }
    .mapConfig {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-bottom: 20px;
      .arrows {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        img {
          max-width: 20px;
          max-height: 20px;
        }
        button {
          background: transparent;
          border: transparent;
          &:focus,
          &:active {
            outline: transparent;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .mapArea {
    flex: 3 3;
  }

  
}
